.jumbotron
  %h1
    Code Challenge for Wantable
  %h2
    Candidate: Aaron Jacobs
  %p
    = link_to "314.749.2604", "tel:13147492604"
  %p
    = link_to "Schedule a Meeting", "https://calendly.com/aaronejacobs/60min", {class: "btn btn-primary btn-lg", role: "button", target: "_blank"}
  %p
    = link_to "Resume", "https://docs.google.com/document/d/1I1e0q6zSkVxqTUhu2s8h8Bb_V67cai55Vyi0eH_lBAw/edit?usp=sharing", {class: "btn btn-primary btn-lg", role: "button", target: "_blank"}
    = mail_to "aaron8153@gmail.com", "Email", {class: "btn btn-primary btn-lg", role: "button", target: "_blank"}